In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Path to sqlite, THIS MAY NOT MATCH YOUR PATH
database_path = "../resources/Census_Data.sqlite"

# Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [3]:
census_data_df = pd.read_sql("SELECT * FROM Census_Data", conn)
census_data_df.head()

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,"HOUSTON, TX",HOUSTON,TX,3061887,1775897,684416,11586,230549,1368287,54180,...,22637,33.439583,32.550000,34.363542,56206.50000,32239.52083,956.708333,178233.6842,29.775734,-95.414548
1,"CHICAGO, IL",CHICAGO,IL,2702091,1318869,843633,7554,161478,785374,32800,...,18209,34.526786,33.798214,35.141071,57735.96429,38730.83929,1119.928571,264739.2857,41.867838,-87.673440
2,"BROOKLYN, NY",BROOKLYN,NY,2595259,1126111,870465,8744,297890,509243,48934,...,14845,35.175676,33.367568,36.578378,51469.18919,28309.67568,1261.783784,605743.2432,40.652805,-73.956528
3,"LOS ANGELES, CA",LOS ANGELES,CA,2426413,1068202,324842,15949,273829,1292382,62684,...,12329,35.335484,34.535484,36.061290,47494.58333,30073.19355,1201.766667,557115.0000,34.042209,-118.303468
4,"MIAMI, FL",MIAMI,FL,1820704,1361009,363514,2250,33144,1162711,27137,...,6969,38.740741,37.120370,40.262963,51232.90741,25949.35185,1260.833333,243279.6296,25.760268,-80.298511

In [4]:
filtered_data = census_data_df[census_data_df['Population'] >= 100000].sort_values(by='Median Age')
filtered_data.head()

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
357,"PROVO, UT",PROVO,UT,115828,102237,715,511,3029,19980,511,...,623,23.833333,24.266667,23.266667,41659.33333,17196.00000,754.333333,206733.3333,40.253223,-111.633250
337,"ATHENS, GA",ATHENS,GA,120952,79691,31036,229,5350,12845,919,...,1079,25.316667,24.600000,26.050000,34224.25000,13672.66667,769.000000,143325.0000,33.958987,-83.383005
301,"BLOOMINGTON, IN",BLOOMINGTON,IN,130817,112800,4066,534,8715,4237,399,...,805,25.883333,25.433333,26.400000,39554.00000,17150.00000,834.250000,167000.0000,39.163813,-86.524614
376,"COLLEGE STATION, TX",COLLEGE STATION,TX,112074,89674,7634,244,9757,16374,333,...,1108,25.900000,25.150000,26.750000,45896.00000,23598.00000,985.500000,180150.0000,30.585239,-96.299284
260,"COLUMBIA, MO",COLUMBIA,MO,146510,116562,14311,351,6818,5310,500,...,1522,26.925000,26.575000,27.250000,45988.33333,20099.25000,801.666667,170500.0000,38.939703,-92.313594